<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row justify-content-center">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4
                    class="card-title"
                    style="text-align:center; font-size:1.50em;"
                  >Mapa comparativo</h4>
                   <br>Informações:
                  <ul>
                    <li>Produtos que não foram cotados estão em vermelho</li>
                    <li>Os preços em vermelho são apenas preços pra vias de comparação, eles são calculados da seguinte forma: Preço mínimo unitário + R$0,01</li>
                    
                  </ul>
                  <br>

                  <div class="table-responsive">
                    <table id="dng" class="table table-bordered"></table>
                  </div>

                  <button
                    v-if="finishDate == 'null' && mostrarBotao"
                    @click="fim()"
                    type="button"
                    class="btn btn-dark btn-block"
                    style="background-color: #383a79;"
                  >Finalizar</button>
                  <br>
                  <template v-if="errors != null">
                    <p style="font-size: 12px; text-align: center" class="text-danger">{{ errors }}</p>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";
import Vue from "vue";

import App from "@/App.vue";

export default {
  name: "MapaComparativo",
  data() {
    return {
      errors: "",
      mapa: [],
      mostrarBotao: false,
      finishDate: ""
    };
  },
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    this.finishDate = this.$route.query.finishDate;

    this.mapa = await api.getMapaComparativo(this.$route.params.id);

    this.mostrarBotao = this.mapa.linesPriceQuoteMap.length > 0;

    if (this.mapa.linesPriceQuoteMap.length > 0) {
      this.construirLinhasDeCotacao(this.mapa.linesPriceQuoteMap);
      this.construirLinhasDePrecoTotal(this.mapa.linesTotalPricesMap);

      $(".checks").on("change", function() {
        let check = $(this);
        if (check.prop("checked")) {
          check.attr("data-check", "true");
        } else {
          check.attr("data-check", "false");
        }
      });
    }
    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  methods: {
    async fim() {
      // Mostra o círculo de carregamento
      App.showLoading();

      // Pego todos os elementos que tem data-check igual a true (ou seja, que foram selecionados)
      var elements = $("*").filter(function() {
        return $(this).attr("data-check") == "true";
      });
      // console.log(elements)

      // Lista para guardar os ids
      let ids = [];

      // Vai para cada elemento da lista, pega o id guardado em data-id, passa para int e adiciona na lista
      elements.each((i, v) => {
        // console.log(v)
        ids.push({ id: parseInt($(v).attr("data-id"), 10) });
      });

      console.log(ids);

      // Retira os elementos repetidos da lista

      let idsUnique = ids.reduce((unique, o) => {
        if (!unique.some(obj => obj.id === o.id)) {
          unique.push(o);
        }
        return unique;
      }, []);

      console.log(idsUnique);

      //Mandando para api
      var valorRetorno = await api.postFimDeRequisicao(idsUnique);

      if (/^(Error: )\b/.test(valorRetorno)) {
        this.errors = "Você cometeu algum erro ao finalizar a requisição";
      } else {
        this.$router.push("/solicitante/cotacao/lista");
      }

      // Esconde o círculo de carregamento
      App.hideLoading();
    },
    construirLinhasDePrecoTotal(data) {
      // Recupera a tabela
      let tabela = document.getElementById("dng");

      // Cria a linha de preços totais
      let linhaTotalPrice = document.createElement("tr");

      // Cria a linha de preços de comparação
      let linhaComparisonPrice = document.createElement("tr");

      // Cria o titulo do preço total
      let tituloPrecoTotal = document.createElement("th");
      tituloPrecoTotal.setAttribute("colspan", "3");
      tituloPrecoTotal.classList.add('precoTotalThClass')
      tituloPrecoTotal.innerText = "Preço Total";

      // Cria o titulo do preço de comparação
      let tituloPrecoComparacao = document.createElement("th");
      tituloPrecoComparacao.setAttribute("colspan", "3");
      tituloPrecoComparacao.classList.add('precoTotalThClass')
      tituloPrecoComparacao.innerText = "Preço de comparação";

      // Adiciona o titulo de preço total no linha de preços totais
      linhaTotalPrice.appendChild(tituloPrecoTotal);

      // Adiciona o titulo de preço de comparação no linha de preços de comparação
      linhaComparisonPrice.appendChild(tituloPrecoComparacao);

      // Vai para cada valor recibido
      for (let i = 0; i < data.length; i++) {
        // Cria a célula do preço total
        let totalPrice = document.createElement("td");

        // Cria a célula do preço de comparação
        let comparisonPrice = document.createElement("td");

        // Adiciona o valor do preço total na célula correspondente
        totalPrice.innerText = "R$ " + data[i].totalPrice.toFixed(2);;

        // Adiciona o valor do preço de comparação na célula correspondente
        comparisonPrice.innerText = "R$ " + data[i].comparisonPrice.toFixed(2);;

        // Faz os valores ocupar duas células
        totalPrice.setAttribute("colspan", "2");
        comparisonPrice.setAttribute("colspan", "2");

        // Faz os valores ficarem no centro das duas células
        // totalPrice.setAttribute("align", "center");
        totalPrice.classList.add('precoTotalTdClass')
        // comparisonPrice.setAttribute("align", "center");
        comparisonPrice.classList.add('precoTotalTdClass')

        // adiciona a célula de preço total na linha dos preços totais
        linhaTotalPrice.appendChild(totalPrice);

        // adiciona a célula de preço de comparação na linha dos preços de comparação
        linhaComparisonPrice.appendChild(comparisonPrice);
      }

        let totalPricePlus = document.createElement("td");
        totalPricePlus.classList.add('precoTotalTdClass')
        totalPricePlus.setAttribute("colspan", "2");
        let comparisonPricePlus = document.createElement("td");
        comparisonPricePlus.classList.add('precoTotalTdClass')
        comparisonPricePlus.setAttribute("colspan", "2");

        linhaTotalPrice.appendChild(totalPricePlus);
        linhaComparisonPrice.appendChild(comparisonPricePlus);
      // adiciona a linha de preços totais na tabela
      tabela.appendChild(linhaTotalPrice);

      // adiciona a linha de preços de comparação na tabela
      tabela.appendChild(linhaComparisonPrice);
    },

    construirLinhasDeCotacao(data) {
      let tabela = document.getElementById("dng");

      let tituloNome = document.createElement("th");
      tituloNome.setAttribute("rowspan", "2");
      tituloNome.innerText = "Nome Produto";
      tituloNome.classList.add('backgroundProductsMap')

      let tituloQtd = document.createElement("th");
      tituloQtd.setAttribute("rowspan", "2");
      tituloQtd.innerText = "Quantidade";
      tituloQtd.classList.add('backgroundProductsMap')

      let tituloUniMedida = document.createElement("th");
      tituloUniMedida.setAttribute("rowspan", "2");
      tituloUniMedida.innerText = "Uni. Medida";
      tituloUniMedida.classList.add('backgroundProductsMap')

      let tituloMenorPreco = document.createElement("th");
      tituloMenorPreco.setAttribute("colspan", "2");
      tituloMenorPreco.style.cssText = "text-align: center;";
      tituloMenorPreco.classList.add('backgroundShortPrice')
      tituloMenorPreco.innerText = "Menor preço";

      let fornecedores = [];

      tabela.appendChild(tituloNome);
      tabela.appendChild(tituloQtd);
      tabela.appendChild(tituloUniMedida);

      data[0].pricesQuotesProductsRequests.forEach(element => {
        // console.log(element.pricesQuotesProductsRequests);
        fornecedores.push(
          element.priceQuote.userRequestReferenceProvider.user.name +
            " " +
            element.priceQuote.userRequestReferenceProvider.user.surname
        );
      });

      let linhaAbaixoDosTitulos = document.createElement("tr");

      fornecedores.forEach(element => {
        let agoravai = document.createElement("th");
        agoravai.classList.add('cotacoesThClass')
        agoravai.innerText = element;
        agoravai.setAttribute("colspan", "2");
        tabela.appendChild(agoravai);

        let subTituloPrecoUnidade = document.createElement("th");
        subTituloPrecoUnidade.innerText = "Preço unitário";
        subTituloPrecoUnidade.classList.add('cotacoesTdESubThClass')

        let subTituloPrecoSubTotal = document.createElement("th");
        subTituloPrecoSubTotal.classList.add('cotacoesTdESubThClass')
        subTituloPrecoSubTotal.innerText = "Subtotal";

        linhaAbaixoDosTitulos.appendChild(subTituloPrecoUnidade);
        linhaAbaixoDosTitulos.appendChild(subTituloPrecoSubTotal);
      });

      tabela.appendChild(tituloMenorPreco);

      let subTituloPrecoUnidadeMenorPreco = document.createElement("th");
      subTituloPrecoUnidadeMenorPreco.innerText = "Unidade";
      subTituloPrecoUnidadeMenorPreco.classList.add('backgroundShortPrice')
      linhaAbaixoDosTitulos.appendChild(subTituloPrecoUnidadeMenorPreco);

      let subTituloPrecoSubTotalMenorPreco = document.createElement("th");
      subTituloPrecoSubTotalMenorPreco.innerText = "Subtotal";
      subTituloPrecoSubTotalMenorPreco.classList.add('backgroundShortPrice')
      linhaAbaixoDosTitulos.appendChild(subTituloPrecoSubTotalMenorPreco);

      linhaAbaixoDosTitulos.appendChild(subTituloPrecoUnidadeMenorPreco);
      linhaAbaixoDosTitulos.appendChild(subTituloPrecoSubTotalMenorPreco);

      tabela.appendChild(linhaAbaixoDosTitulos);

      for (let i = 0; i < data.length; i++) {
        // criando os elementos localmente
        let linha = document.createElement("tr");

        let nomeProduto = document.createElement("td");
        nomeProduto.classList.add('backgroundProductsMap')
        let qtdProduto = document.createElement("td");
        qtdProduto.classList.add('backgroundProductsMap')
        let uniMedidaProduto = document.createElement("td");
        uniMedidaProduto.classList.add('backgroundProductsMap')

        // dados da api
        let produto = data[i].productRequest.product.shortDescription;
        let qtd = data[i].productRequest.amount;
        let uniMedida = data[i].productRequest.product.unitOfMeasurement.name;

        nomeProduto.innerText = produto;
        qtdProduto.innerText = qtd;
        uniMedidaProduto.innerText = uniMedida;

        linha.appendChild(nomeProduto);
        linha.appendChild(qtdProduto);
        linha.appendChild(uniMedidaProduto);

        // pego cada celula do fornecedor
        for (let j = 0; j < data[i].pricesQuotesProductsRequests.length; j++) {
          let fornecedor = data[i].pricesQuotesProductsRequests[j];
          let fornecedorCelula = document.createElement("td");
          fornecedorCelula.classList.add('cotacoesTdESubThClass')
          let fornecedorCelulaSubTotal = document.createElement("td");
          fornecedorCelulaSubTotal.classList.add('cotacoesTdESubThClass')

          var checkbox = document.createElement("input");
          checkbox.type = "checkbox";

          // fornecedorCelula.appendChild(document.createElement("input type='checkbox'"))

          // fornecedorCelula.innerText = "R$ " + fornecedor.price;

          if (fornecedor.price != null) {
            if (this.finishDate == "null") {
              fornecedorCelula.innerHTML =
                "<input type='checkbox' data-id='" +
                fornecedor.id +
                "' data-check='false' class='checks'>" +
                " R$ " +
                fornecedor.price;
            } else {
              fornecedorCelula.innerText = "R$ " + fornecedor.price;
            }
            fornecedorCelulaSubTotal.innerText =
              "R$ " + fornecedor.price * data[i].productRequest.amount;
          } else {
            let unidatePreco = parseFloat(data[i].lowestPrice.price) +parseFloat(0.01);
            let subTotalPreco = ( Number((data[i].lowestPrice.price + 0.01) )* Number(data[i].productRequest.amount)).toFixed(2);

            fornecedorCelula.innerHTML = "<p style='color:red'> R$ " + unidatePreco +"</p>";
            fornecedorCelulaSubTotal.innerHTML = "<p style='color:red'> R$ " + subTotalPreco+ "</p>";
          }

          linha.appendChild(fornecedorCelula);
          linha.appendChild(fornecedorCelulaSubTotal);
        }

        // Crio um célula nessa linha para colocar o menor preço
        let menoPrecoCelula = document.createElement("td");
        menoPrecoCelula.classList.add('backgroundShortPrice')
        let menoPrecoSubTotalCelula = document.createElement("td");
        menoPrecoSubTotalCelula.classList.add('backgroundShortPrice')

        // Pego o menor preço
        if (this.finishDate == "null" && data[i].lowestPrice.id != 0) {
          menoPrecoCelula.innerHTML =
            "<input type='checkbox' data-id='" +
            data[i].lowestPrice.id +
            "' data-check='false' class='checks'>" +
            " R$ " +
            data[i].lowestPrice.price;
        } else {
          menoPrecoCelula.innerText = "R$ " + data[i].lowestPrice.price;
        }
        menoPrecoSubTotalCelula.innerText =
          "R$ " + data[i].lowestPrice.price * data[i].productRequest.amount;
        // Colo o monorj preço na célula
        linha.appendChild(menoPrecoCelula);
        linha.appendChild(menoPrecoSubTotalCelula);

        // Adiciona a linha toda da tabela
        tabela.appendChild(linha);
      }

      // console.log(tabela);
    }
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>