<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="text-align:center; font-size:1.50em;">Produtos</h4>
                  <b-container fluid>
                    <div class="table-responsive">
                      <b-table
                        hover
                        class="table-bordered"
                        :items="produtos"
                        :fields="fields"
                        :current-page="currentPage"
                        :per-page="perPage"
                      >
                        <template slot="acao" slot-scope="row">
                          <i class="fa fa-eye" @click.stop="row.toggleDetails"></i>
                        </template>

                        <template slot="row-details" slot-scope="row" style="max-width: 50px;">
                          <div>
                            <b-card style="max-width: 54vw;">
                              <div>
                                <p
                                  style="white-space: normal;"
                                  class="card-text"
                                >Descrição Completa:
                                  <br>
                                  <br>
                                  {{row.item.completeDescription}}
                                </p>
                              </div>
                            </b-card>
                          </div>
                        </template>
                      </b-table>
                    </div>
                    <b-row>
                      <b-col md="6" class="my-1">
                        <b-pagination
                          :total-rows="totalRows"
                          :per-page="perPage"
                          v-model="currentPage"
                          class="my-0"
                        />
                      </b-col>
                    </b-row>
                  </b-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";
import App from "@/App.vue";

export default {
  name: "ProdutoList",
  data() {
    return {
      currentPage: 1,
      totalRows: 0,
      perPage: 10,
      produtos: [],
      fields: [
        {
          key: "id",
          label: "#",
          sortable: true
        },
        {
          key: "acao",
          label: "Descrição"
        },
        {
          key: "shortDescription",
          label: "Pequena Descrição",
          sortable: true
        },
        {
          key: "ncm",
          label: "NCM",
          sortable: true
        },
        {
          key: "unitOfMeasurement.name",
          label: "Unidade de Medida",
          sortable: true
        },
        {
          key: "class.name",
          label: "Classe",
          sortable: true
        },
        {
          key: "class.subcategory.name",
          label: "SubCategoria",
          sortable: true
        },
        {
          key: "class.subcategory.category.name",
          label: "Categoria",
          sortable: true
        }
      ]
    };
  },
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();
      
    this.produtos = await api.getProdutos();
    this.totalRows = this.produtos.length;

    let pageHeight = $(document).height() - 500;

    let rowHeight = this.$el.getElementsByTagName("tr").item(0).offsetHeight;

    console.log(pageHeight);
    console.log(rowHeight);
    console.log(result);

    let result = Math.trunc(pageHeight / rowHeight);

    if (result < 1) {
      result = 1;
    }

    this.perPage = result;

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>