<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4
                    class="card-title"
                    style="text-align:center; font-size:1.50em;"
                  >Produtos da requisição</h4>

                  <div class="table-responsive">
                    <b-table
                      id="tabela"
                      hover
                      class="table-bordered"
                      :items="produtos"
                      :fields="fields"
                    ></b-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";
import App from "@/App.vue";

export default {
  name: "ProdutosList",
  data() {
    return {
      obj: {
        pricesQuotesProductsRequests: null
      },
      item: {
        hasAvailable: false,
        price: 0,
        productRequest: {
          id: 0
        }
      },
      produtos: [],
      fields: [
        {
          key: "id",
          label: "#"
        },
        {
          key: "product.shortDescription",
          label: "Nome Produto"
        },
        {
          key: "amount",
          label: "Quantidade"
        },
        {
          key: "product.ncm",
          label: "NCM"
        },
        {
          key: "product.unitOfMeasurement.name",
          label: "Un. Medida"
        },
        {
          key: "product.class.name",
          label: "Classe"
        }
      ]
    };
  },
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();
    
    let pro = await api.getProdutosCotacao(this.$route.params.id);
    this.produtos = pro.productsRequests;

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  methods: {},
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>