<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="text-align:center; font-size:1.50em;">Classes</h4>

                  <div class="table-responsive">
                    <b-table hover class="table-bordered" :items="classes" :fields="fields"></b-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";
import App from "@/App.vue";

export default {
  name: "ClasseList",
  data() {
    return {
      classes: [],
      fields: [
        {
          key: "id",
          label: "#",
          sortable: true
        },
        {
          key: "name",
          label: "Nome",
          sortable: true
        },
        {
          key: "subcategory.name",
          label: "SubCategoria",
          sortable: true
        },
        {
          key: "subcategory.category.name",
          label: "Categoria",
          sortable: true
        }
      ]
    };
  },
  async mounted() {
    App.showLoading();
    this.classes = await api.getClasses();
    App.hideLoading();
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>