.botao{
text-align: center;

}
/* Tela de lista de categorias */
.bootstrap-select:not([class=col-]):not([class=form-control]):not(.input-group-btn) {
    width: 100%;
    }
 .table-dark{
        background-color: white;
        color: black;
    }
 .fa{
     font-size: 1.65em;
 }   

 .table.table-bordered thead tr th{
     font-size: 1em;
 }

.backgroundProductsMap{
    background-color: #D6BD72;
}

.cotacoesTdESubThClass{
    background-color: snow;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #FFDEB1;
    border-left-color: #FFDEB1;
    border-right-width: 1px;
    border-left-width: 1px;
    text-align: center;
}
.cotacoesThClass{
    background-color: snow;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 200px;
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #FFDEB1;
    border-left-color: #FFDEB1;
    border-right-width: 1px;
    border-left-width: 1px;
}

.precoTotalThClass{
    text-align: right;
    background-color: #7791A6;
    
}
.precoTotalTdClass{
    text-align: center;
    background-color: lightgray;

}

.backgroundShortPrice{
    background-color: lightgreen;

}

.showLoader{
    display: flex !important;
}
#loaderDivExterna{
    position: absolute;
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    /* opacity: 0.5; */
    width: 100%;
    height: 100%;
    z-index: 500000;
}
#loader {

z-index: 5900000;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #383a79;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}