<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-5 mx-auto">
              <h2 class="text-center mb-4">Convidar um usuário</h2>
              <div class="auto-form-wrapper">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      v-model="usuario.email"
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nome"
                      v-model="usuario.name"
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Sobrenome"
                      v-model="usuario.surname"
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <b-form-select
                      id="slct"
                      multiple
                      :select-size="4"
                      v-model="usuario.permissions"
                      class="teste"
                      :options="options"
                    ></b-form-select>
                  </div>
                </div>

                <!-- <div class="form-group">
                    <div class="input-group">
                        <select class="selectpicker" multiple title="Permissão">
                            <option>Solicitante</option>
                            <option>Fornecedor</option>
                            
                        </select>

                        
                    </div>
                </div>-->
                <template v-if="errors != null">
                  <p style="font-size: 12px; text-align: center" class="text-danger">{{ errors }}</p>
                </template>

                <div class="form-group">
                  <button
                    class="btn btn-primary submit-btn btn-block"
                    @click="convidarUsuario()"
                    style="background-color: #3a3186"
                  >Enviar convite</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>
<style scoped>
#slct {
  display: absolute;
}
</style>

<script>
import api from "@/api";
import App from "@/App.vue";
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";
import "@/assets/css/bootstrap-select.css";

export default {
  name: "Convite",
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    this.$nextTick(function() {
      $(".teste").selectpicker();
    });
    
    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  data() {
    return {
      usuario: {
        name: "",
        surname: "",
        email: "",
        permissions: []
      },
      errors: "",
      options: [
        { value: "Requester", text: "Solicitante" },
        { value: "Provider", text: "Fornecedor" }
      ]
    };
  },
  methods: {
    async convidarUsuario() {
      App.showLoading();
      let retorno = await api.postConvidarUsuario(this.usuario);
      App.hideLoading();

      if (/^(Error: )\b/.test(retorno)) {
        this.errors = "Ocorreu algum erro";
      } else {
        this.$router.push("/dashboard");
      }
    }
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>