<template>
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <h2 class="text-center mb-4">Cadastro</h2>
          <div class="auto-form-wrapper">
            <div class="form-group">
              <div class="input-group">
                <input
                  type="email"
                  @blur="procurarUsuario()"
                  class="form-control"
                  placeholder="Email"
                  v-model="usuario.email"
                >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="mdi mdi-check-circle-outline"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Nome" v-model="usuario.name">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="mdi mdi-check-circle-outline"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Sobrenome"
                  v-model="usuario.surname"
                >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="mdi mdi-check-circle-outline"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Senha"
                  v-model="usuario.password"
                >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="mdi mdi-check-circle-outline"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirmar Senha"
                  v-model="usuario.passwordConfirmation"
                >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="mdi mdi-check-circle-outline"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <b-form-select
                  id="slct"
                  multiple
                  :select-size="4"
                  v-model="usuario.permissions"
                  class="teste"
                  :options="options"
                ></b-form-select>
              </div>
            </div>

            <!-- <div class="form-group">
                    <div class="input-group">
                        <select class="selectpicker" multiple title="Permissão">
                            <option>Solicitante</option>
                            <option>Fornecedor</option>
                            
                        </select>

                        
                    </div>
            </div>-->
            <template v-if="errors != null">
              <p style="font-size: 12px; text-align: center" class="text-danger">{{ errors }}</p>
            </template>

            <div class="form-group">
              <button
                class="btn btn-primary submit-btn btn-block"
                @click="cadastrarUsuario()"
                style="background-color: #3a3186"
              >Cadastrar</button>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">Você já possui uma conta?</span>
              <router-link
                to="/login"
                class="text-black text-small"
                style="text-decoration: none;"
              >Login</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
</template>

<style scoped>
#slct {
  display: absolute;
}
</style>

<script>
import api from "@/api";
// import '@/assets/js/bootstrap-select.js';

import "@/assets/css/bootstrap-select.css";
// import "@/assets/js/bootstrap-select.js";

// import "@/assets/css/bootstrap-select.css.map";
// import "@/assets/css/bootstrap-select.min.css";
import App from "@/App.vue";

export default {
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    // Configurar o select
    this.$nextTick(function() {
      $(".teste").selectpicker();
    });

    //tenta pegar o email vindo da url
    let emailVar = this.$route.query.email;

    if (emailVar !== undefined) {
      this.usuario.email = emailVar;
      this.procurarUsuario(this.usuario);
    }

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  data() {
    return {
      usuario: {
        name: "",
        surname: "",
        email: "",
        password: "",
        passwordConfirmation: "",
        permissions: []
      },
      errors: "",
      options: [
        { value: "Requester", text: "Solicitante" },
        { value: "Provider", text: "Fornecedor" }
      ]
    };
  },
  methods: {
    async procurarUsuario() {
      let retorno = await api.getUsuarioPreCadastrado(this.usuario);

      if (!/^(Error: )\b/.test(retorno)) {
        this.usuario.email = retorno.email;
        this.usuario.name = retorno.name;
        this.usuario.surname = retorno.surname;
        let permissions = [];
        Object.values(retorno.permissions).forEach(x => {
          permissions.push(x.name);
        });
        $("#slct").selectpicker("val", permissions);

        //gustavo_donega@outlook.com
        // console.log(this.options.getText(retorno.permissions[0].name));
      }
    },

    async cadastrarUsuario() {
      // this.usuario.permissions = this.selected;
      // api.postCadastrarUsuario(this.usuario);
      // antes de fazer pra api, o post, vai imprimindo local o usuario
      // api.postCadastrarUsuario(this.usuario);
      // Mostra o círculo de carregamento
      App.showLoading();

      console.log(this.usuario);

     await this.$store
        .dispatch("fetchTokenSignUp", this.usuario)
        .then(r => {
          if (!this.$store.getters.fetchToken) {
            this.errors = "Campos inválidos";
          } else {
            this.$router.push("/dashboard");
          }
        })
        .catch(err => console.log(err));

      // Esconde o círculo de carregamento
      App.hideLoading();
    }
  }
};
</script>