<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>
      <div class="main-panel">
        <div class="content-wrapper">
          <!-- <div class="row purchace-popup">
            <div class="col-12">
              <span class="d-block d-md-flex align-items-center">
                <p>COTAGRO</p>

                <router-link
                  class="btn ml-auto purchase-button d-none d-md-block"
                  to="/documentacao"
                >Documentação</router-link>
                <i class="fa fa-info"></i>
                
              </span>
            </div>
          </div>-->
          <div v-if="adm" class="row purchace-popup">
            <div class="col-12">
              <span class="d-block d-md-flex align-items-center">
                <p>Administrador</p>
              </span>
            </div>
          </div>

          <div v-if="adm" class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-cube text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Solicitações</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{adminDashboard.lastWeeksNewRequestsQuantity}}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Últimas solicitações
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-arrow-right text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Requisições enviadas</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.providerUsersRequestsQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-send mr-1" aria-hidden="true"></i> Total de fornecedores convidados em todas as requsições
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-script text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Pedidos fechados</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.providerUsersRequestsThatSoldProductsQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-package-variant-closed mr-1" aria-hidden="true"></i> Total de fornecedores, que venderam qualquer produto, em todas as requsições
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-magnify-plus text-dark icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Produtos</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.productsQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Quantidade de Produtos
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-receipt text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Categorias</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.categoryQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Quantidade de Categorias
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-ruler text-primary icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">SubCategorias</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.subcategoryQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Quantidade de subcategorias
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-more text-light icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Classes</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.classQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Quantidade de classes
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-factory text-success icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Fabricantes</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{adminDashboard.manufacturerQuantity}}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Quantidade de Fabricantes
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-alpha text-secondary icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Unidades</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.unitOfMeasurementQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Quantidade de unidades de medida
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-account-location text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right">Usuários</p>
                      <div class="fluid-container">
                        <h3
                          class="font-weight-medium text-right mb-0"
                        >{{ adminDashboard.userQuantity }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Quantidade de usuários
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div v-if="req" class="row purchace-popup">
            <div class="col-12">
              <span class="d-block d-md-flex align-items-center">
                <p>Solicitante</p>
              </span>
            </div>
          </div>

          <div v-if="req" class="row">
            <div class="col-xl-12">
              <b-table
                hover
                class="table-bordered"
                :fields="fieldsSolicitante"
                :items="solicitanteDashboard"
              >
                <template slot="request.active" slot-scope="row">
                  <label v-if="row.item.request.active == true" class="badge badge-success">Ativo</label>
                  <label v-else class="badge badge-danger">Desativado</label>
                </template>
              </b-table>
            </div>
          </div>

          <br>

          <div v-if="pro" class="row purchace-popup">
            <div class="col-12">
              <span class="d-block d-md-flex align-items-center">
                <p>Fornecedor</p>
              </span>
            </div>
          </div>

          <div v-if="pro" class="row">
            <div class="col-xl-12">
              <b-table
                hover
                class="table-bordered"
                :fields="fieldsFornecedor"
                :items="fornecedorDashboard"
              >
                <template slot="request.active" slot-scope="row">
                  <label v-if="row.item.request.active == true" class="badge badge-success">Ativo</label>
                  <label v-else class="badge badge-danger">Desativado</label>
                </template>
              </b-table>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";

import App from "@/App.vue";

export default {
  name: "dashboard",
  data() {
    return {
      usuarioLogado: this.$store.getters.usuarioLogado,
      permissoes: this.$store.getters.permissoes,
      adm: false,
      req: false,
      pro: false,
      adminDashboard: "",
      solicitanteDashboard: [],
      fornecedorDashboard: "",
      fieldsFornecedor: [
        {
          key: "request.id",
          label: "#"
        },
        {
          key: "request.openDate",
          label: "Data Início"
        },
        {
          key: "request.active",
          label: "Ativo"
        }
      ],
      fieldsSolicitante: [
        {
          key: "request.id",
          label: "#"
        },
        {
          key: "request.openDate",
          label: "Data Início"
        },
        {
          key: "request.active",
          label: "Ativo"
        }
      ]
    };
  },
  mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    let permissoesGerais = ["ADM", "Requester", "Provider"];
    let permissoesConcedidas = this.permissoes.filter(
      i => permissoesGerais.indexOf(i.authority) >= 0
    );
    permissoesConcedidas.forEach(element => {
      if (element.authority === "ADM") {
        this.adm = true;
        api.getDashboardAdmin().then(res => (this.adminDashboard = res));
      }
      if (element.authority === "Provider") {
        this.pro = true;
        api
          .getDashboardFornecedor()
          .then(
            res => (this.fornecedorDashboard = res.requestsWithRecentActivity)
          );
      }
      if (element.authority === "Requester") {
        this.req = true;
        api
          .getDashboardSolicitante()
          .then(
            res => (this.solicitanteDashboard = res.requestsWithRecentActivity)
          );
      }
    });

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>