<template>
    <div id="login">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            <div class="form-group">
                                <label class="label">E-mail</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="E-mail" v-model="email">
                                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="*********"
                                           v-model="senha">
                                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                            <template v-if="errors != null"><p style="font-size: 12px; text-align: center" class="text-danger">{{ errors }}</p></template>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block" style="background: #383a79;border: #f6f6f6;" v-on:click="realizarLogin()">
                                    Login
                                </button>
                            </div>
                            <div class="form-group d-flex justify-content-center">

                                <!-- <a href="#" class="text-small forgot-password text-black">Esqueci a senha</a> -->
                            </div>
                             <div class="text-block text-center my-3">
                                <span class="text-small font-weight-semibold">Não é um membro? </span>
                                <router-link class="text-black text-small" v-bind:to="`/cadastro`">Cadastrar nova conta</router-link>
                            </div>

                        </div>
                        <br/>
                        <p class="footer-text text-center">Copyright © 2018 Jiros. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: "login",
  data() {
    return {
      email: "",
      senha: "",
      errors: ""
    };
  },
    async created() {
          if (this.$store.getters.fetchToken) {
              this.$router.push("/dashboard")
          } 
    },
  methods: {
    realizarLogin() {
      this.$store
        .dispatch("fetchToken", {
          email: this.email,
          password: this.senha
        })
        .then(r => {
          if (!this.$store.getters.fetchToken) {
            this.errors = "Usuário ou senha inválidos";
          } else {
            console.log("ei");
            this.$router.push("/dashboard")
          }
        })
        .catch(err => console.log(err));
    }
  }
};
</script>

