<!--
<template>
  <div id="pdf">
    <button
      class="btn btn-primary submit-btn btn-block"
      style="background: #383a79;border: #f6f6f6;"
      v-on:click="baixarPdf()"
    >Download</button>
    
    <button
      class="btn btn-primary submit-btn btn-block"
      style="background: #383a79;border: #f6f6f6;"
      v-on:click="abrirPdf()"
    >Open</button>


  </div>
</template>

<script>
import api from "@/api";

export default {
  name: "pdf",
  data() {
    return {};
  },
  methods: {
    async baixarPdf() {
      // Pega pdf da api
      var pdfDaApi = await api.getPdf(40);

      // Se retornou um pdf
      if (pdfDaApi != null) {
        // Guarda o pdf em um blob para retornar para o usuário
        var file = new Blob([pdfDaApi]);

        // Se for internet explorer
        if (navigator.appVersion.toString().indexOf(".NET") > 0) {
          // Trate para fazer o download no IE
          window.navigator.msSaveBlob(file, "file.pdf");
        } else {
          // Se for qualquer outro navegador, trate para fazer o download em qualquer outro navegador
          const url = window.URL.createObjectURL(file);

          // Cria um link
          const link = document.createElement("a");

          // Coloca o valor de navegação desse link
          link.href = url;

          // Configura o download
          link.setAttribute("download", "file.pdf");

          // Adiciona o link no DOM
          document.body.appendChild(link);

          //Executa o link
          link.click();
        }
      }
    },

    async abrirPdf() {
      // Pega pdf da api
      var pdfDaApi = await api.getPdf(4);

      // Se retornou um pdf
      if (pdfDaApi != null) {
        // Guarda o pdf em um blob para retornar para o usuário
        var file = new Blob([pdfDaApi], { type: "application/pdf" });

        // Se for internet explorer
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          // Trate para abrir o pdf no IE
          window.navigator.msSaveOrOpenBlob(file, "file.pdf");
        } else {
          // Cria o link do pdf
          var fileURL = URL.createObjectURL(file);

          // Abre o pdf
          window.open(fileURL, "file.pdf");
        }
      }
    }
  }
};
</script>

-->