<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper text-center">
          <h4
            class="card-title"
            style="text-align:center; font-size: 2em;"
          >Realizar upload de planilha</h4>
          <h6 style="text-align:center; font-size:1em;">Deseja importar os dados?</h6>
          <br>

          <div class="botao">
            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()">
            <br>

            <br>
            <template v-if="errors != null">
              <p style="font-size: 12px; text-align: center" class="text-danger">{{ errors }}</p>
            </template>
            <br>
            <button
              type="button"
              @click="fazerUpload()"
              class="btn btn-primary btn-fw"
              style="width:30%; background-color: #424964;"
            >Importar</button>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";
import App from "@/App.vue";

import axios from "axios";

export default {
  name: "ClasseList",
  data() {
    return {
      file: "",
      errors: ""
    };
  },

  components: {
    Navbar,
    Sidebar,
    Footer
  },
  methods: {
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    },
    async fazerUpload() {
      let formData = new FormData();
      formData.append("file", this.file);

      App.showLoading();
      let retorno = await api.uploadImagem(formData);
      App.hideLoading();

      if (/^(Error: )\b/.test(retorno)) {
        this.errors = "Ocorreu algum erro no envio da planilha";
      } else {
        this.$router.push("/dashboard");
      }

      // axios
      //   .post("http://192.168.4.158:8080/api/input", formData, {
      //     headers: {
      //       // "Content-Type": "multipart/form-data",
      //       "Authorization":
      //         "Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzZW5haS5qaXJvc0Bob3RtYWlsLmNvbSIsImNyZWF0ZWQiOjE1NDE2MTMzMjkwOTcsInBlcm1pc3Npb24iOlt7ImF1dGhvcml0eSI6IkFETSJ9LHsiYXV0aG9yaXR5IjoiUHJvdmlkZXIifSx7ImF1dGhvcml0eSI6IlJlcXVlc3RlciJ9XSwiaWQiOjEsImV4cCI6MTU0MTYyMzMyOH0.o3uu_fbKbVWg76DJeogbQQ6t9G6NEol9GNtf0gjDMpFSHLucCqVizysl4cXPIPY5VTmnyUa1RIvhickcuRHAnw"
      //     }
      //   })
      //   .then(function() {
      //     console.log("SUCCESS!!");
      //   })
      //   .catch(function() {
      //     console.log("FAILURE!!");
      //   });
    }
  }
};
</script>