<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="text-align:center; font-size:1.50em;">Cotação</h4>
                  <br>Informações:
                  <ul>
                    <li>Caso não tenha algum produto, apenas deixe o campo de valor vazio</li>
                    <li>Caso você coloque R$0,00 no campo de valor, significa que você está DANDO DE GRAÇA</li>
                  </ul>
                  <br>
                  <div class="table-responsive">
                    <b-table
                      id="tabela"
                      hover
                      class="table-bordered"
                      :items="produtos"
                      :fields="fields"
                    >
                      <template slot="acao" slot-scope="row">
                        <input type="text" class="form-control">
                      </template>
                    </b-table>
                  </div>
                  <b-btn
                    @click="realizarCotacao"
                    class="btn btn-outline-primary float-right"
                    style="border-color: #383a79;"
                  >Enviar Cotação</b-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";
import App from "@/App.vue";

export default {
  name: "CotacaoProdutosList",
  data() {
    return {
      obj: {
        pricesQuotesProductsRequests: null
      },
      item: {
        hasAvailable: false,
        price: 0,
        productRequest: {
          id: 0
        }
      },
      produtos: [],
      fields: [
        {
          key: "id",
          label: "#"
        },
        {
          key: "product.shortDescription",
          label: "Nome Produto"
        },
        {
          key: "amount",
          label: "Quantidade"
        },
        {
          key: "product.unitOfMeasurement.name",
          label: "Un. Medida"
        },
        {
          key: "product.ncm",
          label: "NCM"
        },
        {
          key: "product.class.name",
          label: "Classe"
        },
        {
          key: "acao",
          label: "Valor (Reais/Unidade)"
        }
      ]
    };
  },
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    let pro = await api.getProdutosCotacao(this.$route.params.id);
    this.produtos = pro.productsRequests;

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  methods: {
    async realizarCotacao() {
      // Mostra o círculo de carregamento
      App.showLoading();

      let trs = document.getElementById("tabela").rows;
      // console.log(trs);
      let dng = new Array();

      for (let i = 1; i < trs.length; i++) {
        let ipts = trs[i].lastChild;
        let valor = ipts.getElementsByTagName("input").item(0);

        let item = {
          hasAvailable: false,
          price: 0,
          productRequest: {
            id: 0
          }
        };

        if (valor.value > 0) {
          item.hasAvailable = true;
        }

        item.price = valor.value;
        item.productRequest.id = trs[i].firstChild.innerText;

        dng.push(JSON.stringify(item));
      }

      localStorage.setItem("teste", dng);
      this.obj.pricesQuotesProductsRequests = JSON.parse(
        "[" + localStorage.getItem("teste") + "]"
      );

      console.log(this.obj);

      console.log(this.obj.pricesQuotesProductsRequests);

      var aa = await api.postCotacao(this.obj);

      localStorage.setItem("teste", "");

      // Esconde o círculo de carregamento
      App.hideLoading();

      this.$router.push("/fornecedor/cotacao/lista");
    }
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>