<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4
                    class="card-title"
                    style="text-align:center; font-size:1.50em;"
                  >Solicitações de Cotação Recebidas</h4>

                  <div class="table-responsive">
                    <b-table hover class="table-bordered" :items="solicitacoes" :fields="fields">
                      <template slot="active" slot-scope="row">
                        <label v-if="row.item.active == true" class="badge badge-success">Ativo</label>
                        <label v-else class="badge badge-danger">Desativado</label>
                      </template>

                      <template slot="acao" slot-scope="row">
                        <i class="fa fa-eye" @click.stop="row.toggleDetails"></i>
                      </template>

                      <template slot="row-details" slot-scope="row">
                        <b-card
                          v-if="row.item.userRequestHelper.statusUserRequest.name == 'A resposta foi enviada' && row.item.finishDate == null"
                        >
                          <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-left">
                              <b>Você já enviou a cotação dos produtos, agora você precisa aguardar a resposta do requisitante</b>
                            </b-col>
                          </b-row>
                        </b-card>

                        <b-card
                          v-if="row.item.active == true && row.item.finishDate == null && row.item.userRequestHelper.statusUserRequest.name == 'Enviar resposta'  && row.item.userRequestHelper.statusUserRequest.name != 'A resposta foi enviada'"
                        >
                          <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-left">
                              <b>Você deve enviar a sua cotação dos produtos, para isso, clique no botão abaixo:</b>
                            </b-col>
                          </b-row>

                          <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-left">
                              <router-link
                                v-bind:to="`/fornecedor/cotacao/${row.item.id}/produtos`"
                              >
                                <b-button size="sm">Cotar</b-button>
                              </router-link>
                            </b-col>
                          </b-row>
                        </b-card>

                        <b-card
                          v-if="row.item.active == true && row.item.finishDate == null && row.item.userRequestHelper.statusUserRequest.name != 'Recusado' && row.item.userRequestHelper.statusUserRequest.name != 'Enviar resposta' && row.item.userRequestHelper.statusUserRequest.name != 'A resposta foi enviada'"
                        >
                          <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-left">
                              <b>Você ainda não confirmou se você quer entrar na requisição, o que você quer fazer?:</b>
                            </b-col>
                          </b-row>

                          <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-left">
                              <b-button
                                size="sm"
                                @click="aceitarCotacao(row.item.id)"
                              >Entrar como fornecedor na requisição</b-button>
                            </b-col>
                          </b-row>

                          <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-left">
                              <b-button
                                size="sm"
                                @click="recusarCotacao(row.item.id)"
                              >Não entrar na requisição</b-button>
                            </b-col>
                          </b-row>
                        </b-card>

                        <b-card>
                          <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-left">
                              <router-link v-bind:to="`/requisicao/${row.item.id}/produtos`">
                                <b-button size="sm">Visualizar produtos</b-button>
                              </router-link>
                            </b-col>
                          </b-row>
                        </b-card>

                        <b-card>
                          <b-row class="mb-2" v-if="row.item.finishDate != null">
                            <b-col sm="3" class="text-sm-left">
                              <b-button size="sm" @click="baixarPdf(row.item.id)">Baixar PDF</b-button>
                            </b-col>
                          </b-row>
                        </b-card>
                      </template>
                    </b-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";
import App from "@/App.vue";

export default {
  name: "CotacaoList",
  data() {
    return {
      solicitacoes: [],
      fields: [
        {
          key: "id",
          label: "#",
          sortable: true
        },
        {
          key: "openDate",
          label: "Data de Abertura",
          sortable: true
        },
        {
          key: "finishDate",
          label: "Data de Fechamento",
          sortable: true
        },
        {
          key: "userRequestHelper.statusUserRequest.name",
          label: "Status",
          sortable: true
        },
        {
          key: "active",
          label: "Ativo",
          sortable: true
        },
        {
          key: "acao",
          label: "Ação"
        }
      ]
    };
  },
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    this.solicitacoes = await api.getSolicitacoesFornecedor();

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  methods: {
    async recusarCotacao(id) {
      await api.patchRecusarEntradaSolicitacaoCotacao(id);
      this.solicitacoes = await api.getSolicitacoesFornecedor();
    },
    async aceitarCotacao(id) {
      await api.patchConfirmarEntradaSolicitacaoCotacao(id);
      this.solicitacoes = await api.getSolicitacoesFornecedor();
    },
    async baixarPdf(id) {
      // Pega pdf da api
      var pdfDaApi = await api.getPdf(id);

      // Se retornou um pdf
      if (pdfDaApi != null) {
        // Guarda o pdf em um blob para retornar para o usuário
        var file = new Blob([pdfDaApi]);

        // Se for internet explorer
        if (navigator.appVersion.toString().indexOf(".NET") > 0) {
          // Trate para fazer o download no IE
          window.navigator.msSaveBlob(file, "file.pdf");
        } else {
          // Se for qualquer outro navegador, trate para fazer o download em qualquer outro navegador
          const url = window.URL.createObjectURL(file);

          // Cria um link
          const link = document.createElement("a");

          // Coloca o valor de navegação desse link
          link.href = url;

          // Configura o download
          link.setAttribute("download", "file.pdf");

          // Adiciona o link no DOM
          document.body.appendChild(link);

          //Executa o link
          link.click();
        }
      }
    }
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>