<template>
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" href="index.html">
        <h1 style="color: #383a79; font-family: Allan; font-size: 2.2em;">Cotagro</h1>
      </a>
      <a class="navbar-brand brand-logo-mini" href="index.html">
        <h1 style="color: #383a79; font-family: Allan; font-size: 1em;">Cotagro</h1>
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav navbar-nav-right">
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link count-indicator dropdown-toggle"
            id="notificationDropdown"
            href="#"
            data-toggle="dropdown"
          >
            <i class="mdi mdi-bell"></i>
            <span class="count">4</span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown"
          >
            <a class="dropdown-item">
              <p class="mb-0 font-weight-normal float-left">You have 4 new notifications</p>
              <span class="badge badge-pill badge-warning float-right">View all</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="mdi mdi-alert-circle-outline mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                <p class="font-weight-light small-text">Just now</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="mdi mdi-comment-text-outline mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                <p class="font-weight-light small-text">Private message</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="mdi mdi-email-outline mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                <p class="font-weight-light small-text">2 days ago</p>
              </div>
            </a>
          </div>
        </li> -->
        <li class="nav-item dropdown d-none d-xl-inline-block">
          <a
            class="nav-link dropdown-toggle"
            id="UserDropdown"
            href="#"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="profile-text">Olá, {{ usuarioLogado }}</span>
            <!-- <img class="img-xs rounded-circle" src="@/assets/images/faces/face1.jpg" alt="Profile image"> -->
          </a>
          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown"
            aria-labelledby="UserDropdown"
          >
            <a class="dropdown-item p-0">
              <div class="d-flex border-bottom">
                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                  <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                </div>
                <div
                  class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right"
                >
                  <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                </div>
                <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                  <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                </div>
              </div>
            </a>
            <!-- <a class="dropdown-item mt-2">
                            Perfil
                        </a>
                        <a class="dropdown-item">
                            Trocar Senha
            </a>-->
            <!-- <a class="dropdown-item"> -->
            <!-- <router-link to="/login" class="dropdown-item" @click="sair()" > -->
            <button class="dropdown-item" @click="sair()">Sair</button>

            <!-- </router-link> -->
            <!-- </a> -->
          </div>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        data-toggle="offcanvas"
      >
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      usuarioLogado: this.$store.getters.usuarioLogado
    };
  },
  methods: {
    sair() {
      this.$store.dispatch("logout").then(() => this.$router.push("/login"));
    }
  }
};
</script>

<style>
</style>