<template>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="user-wrapper">
                            <p class="profile-name">{{ usuarioLogado }}</p>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <router-link to="/dashboard" class="nav-link">
                    <i class="menu-icon mdi mdi-chart-line"></i>
                    <span class="menu-title">Dashboard</span>
                </router-link>
            </li>
            <li v-if="adm" class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                   aria-controls="ui-basic">
                    <i class="menu-icon mdi mdi-table"></i>
                    <span class="menu-title">Listagens</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <router-link to="/administrador/categorias" class="nav-link">Categorias</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/administrador/subcategorias" class="nav-link">SubCategorias</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/administrador/classes" class="nav-link">Classes</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/administrador/produtos" class="nav-link">Produtos</router-link>
                        </li>
                    </ul>
                </div>
            </li>
             <!-- <li v-if="req" class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#cotacao" aria-expanded="false"
                   aria-controls="cotacao">
                    <i class="menu-icon mdi mdi-plus"></i>
                    <span class="menu-title">Solicitações</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="cotacao">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <router-link to="/solicitante/cotacao" class="nav-link">Solicitar Cotação</router-link>
                        </li>
                    </ul>
                </div>
            </li> -->
            <li v-if="req" class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#soliccotacao" aria-expanded="false"
                   aria-controls="soliccotacao">
                    <i class="menu-icon mdi mdi-square-inc-cash"></i>
                    <span class="menu-title">Solicitações</span>
                    <i class="menu-arrow"></i>
                </a>
                
                <div class="collapse" id="soliccotacao">
                     <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <router-link to="/solicitante/cotacao" class="nav-link">Solicitar Cotação</router-link>
                        </li>
                    </ul>
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <router-link to="/solicitante/cotacao/lista" class="nav-link">Listar Solicitações</router-link>
                        </li>
                    </ul>
                </div>
            </li>
            <li v-if="pro" class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#forcotacao" aria-expanded="false"
                   aria-controls="soliccotacao">
                    <i class="menu-icon mdi mdi-cash-usd"></i>
                    <span class="menu-title">Cotações</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="forcotacao">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <router-link to="/fornecedor/cotacao/lista" class="nav-link">Listar Solicitações</router-link>
                        </li>
                    </ul>
                </div>
            </li>
            <li v-if="adm" class="nav-item">
                 <router-link to="/administrador/planilha" class="nav-link">
                    <i class="menu-icon mdi mdi-upload"></i>
                    <span class="menu-title">Upload</span>
                 </router-link>
            </li>
            <li class="nav-item">
                 <router-link to="/convite" class="nav-link">
                    <i class="menu-icon mdi mdi-email-outline"></i>
                    <span class="menu-title">Convidar novo usuário</span>
                 </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      usuarioLogado: this.$store.getters.nomeUsuario,
      permissoes: this.$store.getters.permissoes,
      adm: false,
      req: false,
      pro: false,
      errors: ""
    };
  },
  mounted() {
    let permissoesGerais = ["ADM", "Requester", "Provider"];
    let permissoesConcedidas = this.permissoes.filter(
      i => permissoesGerais.indexOf(i.authority) >= 0
    );
    permissoesConcedidas.forEach(element => {
      if (element.authority === "ADM") {
        this.adm = true;
      }
      if (element.authority === "Provider") {
        this.pro = true;
      }
      if (element.authority === "Requester") {
        this.req = true;
      }
    });
  }
};
</script>