<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>
      <div class="main-panel">
        <div class="content-wrapper">Conteúdo sobre a documentação</div>
        <!-- content-wrapper ends -->
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";

export default {
  data() {
    return {};
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>