<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4
                    class="card-title"
                    style="text-align:center; font-size:1.50em;"
                  >Produtos de uma Solicitação de Cotação</h4>

                  <div class="table-responsive">
                    <b-table hover class="table-bordered" :items="produtos"></b-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";

export default {
  name: "CotacaoProdutosList",
  data() {
    return {
      produtos: []
      //   fields: [
      //     {
      //       key: "id",
      //       label: "#",
      //       sortable: true
      //     },
      //     {
      //       key: "openDate",
      //       label: "Data de Abertura",
      //       sortable: true
      //     },
      //     {
      //       key: "finishDate",
      //       label: "Data de Fechamento",
      //       sortable: true
      //     },
      //     {
      //       key: "userRequestHelper.statusUserRequest.name",
      //       label: "Status",
      //       sortable: true
      //     },
      //     {
      //       key: "active",
      //       label: "Ativo",
      //       sortable: true
      //     },
      //     {
      //       key: "acao",
      //       label: "Ação"
      //     }
      //   ]
    };
  },
  async created() {
    let pro = await api.getProdutosCotacao(this.$route.params.id);
    this.produtos = pro.productsRequests;
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>