<template>
  <div>
    <Navbar/>

    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4
                    class="card-title"
                    style="text-align:center; font-size:1.50em;"
                  >Solicitações de Cotação</h4>

                  <div class="table-responsive">
                    <b-table hover class="table-bordered" :items="solicitacoes" :fields="fields">
                      <template slot="active" slot-scope="row">
                        <label v-if="row.item.active == true" class="badge badge-success">Ativo</label>
                        <label v-else class="badge badge-danger">Desativado</label>
                      </template>

                      <template slot="acao" slot-scope="row">
                        <router-link
                          v-bind:to="`/requisicao/${row.item.id}/produtos`"
                          style="margin-right: 4px;"
                        >
                          <i class="fa fa-product-hunt"></i>
                        </router-link>

                        <router-link
                          v-bind:to="`/solicitante/cotacao/${row.item.id}/usuarios`"
                          style="margin-right: 4px;"
                        >
                          <i class="fa fa-users"></i>
                        </router-link>

                        <router-link
                          v-bind:to="{path:`/solicitante/mapa-comparativo/${row.item.id}`, query:{finishDate:`${row.item.finishDate}`}}"
                          style="margin-right: 4px;"
                        >
                          <i class="fa fa-table"></i>
                        </router-link>

                        <a href="#" @click="baixarPdf(row.item.id)">
                          <i v-if="row.item.finishDate != null" size="sm" class="fa fa-download"></i>
                        </a>
                        <!-- <b-button  >
                        </b-button>-->
                        <!-- <button   @onclick="``" v-bind:to="`/solicitante/mapa-comparaivo/${row.item.id}`" style="margin-right: 4px;"></button> -->
                      </template>
                    </b-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";

import App from "@/App.vue";

export default {
  name: "CotacaoList",
  data() {
    return {
      solicitacoes: [],
      fields: [
        {
          key: "id",
          label: "#",
          sortable: true
        },
        {
          key: "openDate",
          label: "Data de Abertura",
          sortable: true
        },
        {
          key: "finishDate",
          label: "Data de Fechamento",
          sortable: true
        },
        {
          key: "userRequestHelper.statusUserRequest.name",
          label: "Status",
          sortable: true
        },
        {
          key: "active",
          label: "Ativo",
          sortable: true
        },
        {
          key: "acao",
          label: "Ação"
        }
      ]
    };
  },
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    this.solicitacoes = await api.getSolicitacoesSolicitante();

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  methods: {
    async baixarPdf(id) {
      // Mostra o círculo de carregamento
      App.showLoading();

      // Pega pdf da api
      var pdfDaApi = await api.getPdf(id);

      // Se retornou um pdf
      if (pdfDaApi != null) {
        // Guarda o pdf em um blob para retornar para o usuário
        var file = new Blob([pdfDaApi]);

        // Se for internet explorer
        if (navigator.appVersion.toString().indexOf(".NET") > 0) {
          // Trate para fazer o download no IE
          window.navigator.msSaveBlob(file, "file.pdf");
        } else {
          // Se for qualquer outro navegador, trate para fazer o download em qualquer outro navegador
          const url = window.URL.createObjectURL(file);

          // Cria um link
          const link = document.createElement("a");

          // Coloca o valor de navegação desse link
          link.href = url;

          // Configura o download
          link.setAttribute("download", "file.pdf");

          // Adiciona o link no DOM
          document.body.appendChild(link);

          //Executa o link
          link.click();
        }
      }
      // Esconde o círculo de carregamento
      App.hideLoading();
    }
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  }
};
</script>