<template>
  <div>
    <Navbar/>
    <div class="container-fluid page-body-wrapper">
      <Sidebar/>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row justify-content-center">
            <div class="col-lg-10 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4
                    class="card-title"
                    style="text-align:center; font-size:1.50em;"
                  >Solicitar Cotação</h4>
                  <b-card no-body>
                    <b-tabs pills card v-model="tabIndex">
                      <b-tab title="Produtos" active>
                        <div class="table-responsive">
                          <!-- id selected: {{selected}} -->
                          <b-table
                            hover
                            class="table-bordered"
                            :items="produtos"
                            :fields="fields"
                            id="tabela"
                          >
                            <template slot="check" slot-scope="row">
                              <input
                                type="checkbox"
                                class="form-control"
                                v-model="selected"
                                :value="row.item.id"
                              >
                            </template>
                            <template slot="actions" slot-scope="row">
                              <input type="text" class="form-control">
                            </template>
                          </b-table>
                        </div>
                        <br>
                        <b-btn
                          @click="tabIndex++"
                          class="btn btn-dark btn-block"
                          style="background-color: #383a79;"
                        >Selecionar Fornecedor</b-btn>
                      </b-tab>
                      <b-tab title="Fornecedores">
                        <br>
                        <div class="table-responsive">
                          <!-- id selected: {{selectedF}} -->
                          <b-table
                            hover
                            class="table-bordered"
                            :items="fornecedores"
                            :fields="fieldsF"
                            id="tabelaF"
                          >
                            <template slot="check" slot-scope="row">
                              <input
                                type="checkbox"
                                class="form-control"
                                v-model="selectedF"
                                :value="row.item.id"
                              >
                            </template>
                          </b-table>
                        </div>
                        <b-btn
                          @click="realizarCotacao"
                          class="btn btn-dark btn-block"
                          style="background-color: #383a79;"
                        >Realizar Solicitação de Cotação</b-btn>
                        <br>
                        <template v-if="errors != null">
                          <p
                            style="font-size: 12px; text-align: center"
                            class="text-danger"
                          >{{ errors }}</p>
                        </template>
                      </b-tab>
                    </b-tabs>
                  </b-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Footer/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/partials/Navbar.vue";
import Sidebar from "@/components/partials/Sidebar.vue";
import Footer from "@/components/partials/Footer.vue";

import api from "@/api";

import App from "@/App.vue";

export default {
  name: "CotacaoForm",
  data() {
    return {
      errors: "",
      tabIndex: 0,
      selected: [],
      selectedF: [],
      selectAll: false,
      qtd: 0,
      produtos: [],
      fornecedores: [],
      fields: [
        {
          key: "check",
          label: "Selecione"
        },
        {
          key: "id",
          label: "#",
          sortable: true
        },
        {
          key: "shortDescription",
          label: "Pequena Descrição",
          sortable: true
        },
        {
          key: "ncm",
          label: "NCM",
          sortable: true
        },
        {
          key: "unitOfMeasurement.name",
          label: "Un. Medida",
          sortable: true
        },
        {
          key: "actions",
          label: "Qtde."
        }
      ],
      fieldsF: [
        {
          key: "check",
          label: "Selecione"
        },
        {
          key: "id",
          label: "#",
          sortable: true
        },
        {
          key: "name",
          label: "Nome",
          sortable: true
        }
      ],
      requisicao: {
        productsRequests: [],
        usersRequests: []
      }
    };
  },
  async mounted() {
    // Mostra o círculo de carregamento
    App.showLoading();

    this.produtos = await api.getProdutos();
    this.fornecedores = await api.getFornecedores();

    // Esconde o círculo de carregamento
    App.hideLoading();
  },
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  methods: {
    select() {
      this.selected = [];
      if (!this.selectAll) {
        for (let i in this.produtos) {
          this.selected.push(this.produtos[i].id);
        }
      }
    },
    async realizarCotacao() {
      // Mostra o círculo de carregamento
      App.showLoading();

      // PRODUTOS SELECIONADOS
      let trs = document.getElementById("tabela").rows;
      let produtosSelecionados = new Array();
      let produtosDng = new Array();

      for (let i = 1; i < trs.length; i++) {
        this.selected.forEach(element => {
          if (element == trs[i].cells[0].firstChild.value) {
            let ipts = trs[i].lastChild;
            let valor = ipts.getElementsByTagName("input").item(0);
            let dng = {
              amount: 0,
              product: {
                id: 0
              }
            };

            dng.amount = valor.value;
            dng.product.id = element;

            let amount = "amount:" + valor.value;
            let produto = 'product : {"id" :' + element + "}";

            produtosDng.push(JSON.stringify(dng));
            localStorage.setItem("pSelecionados", produtosDng);
          }
        });
      }

      // FORNECEDORES SELECIONADOS
      let trsF = document.getElementById("tabelaF").rows;
      let fornecedoresSelecionados = new Array();
      let fornecedoresDng = new Array();

      for (let i = 1; i < trsF.length; i++) {
        this.selectedF.forEach(element => {
          if (element == trsF[i].cells[0].firstChild.value) {
            let usr = {
              user: {
                id: 0
              }
            };

            usr.user.id = element;

            fornecedoresDng.push(JSON.stringify(usr));
            localStorage.setItem("fSelecionados", fornecedoresDng);
          }
        });
      }

      this.requisicao.productsRequests = JSON.parse(
        "[" + localStorage.getItem("pSelecionados") + "]"
      );
      this.requisicao.usersRequests = JSON.parse(
        "[" + localStorage.getItem("fSelecionados") + "]"
      );
      localStorage.setItem("requisicao", JSON.stringify(this.requisicao));

      var returnValue = await api.postSolicitacaoCotacao(
        localStorage.getItem("requisicao")
      );

      if (/^(Error: )\b/.test(returnValue)) {
        this.errors =
          "Você cometeu algum erro ao criar a nova requisição de cotação";
      } else {
        this.$router.push("/solicitante/cotacao/lista");
      }

      localStorage.setItem("pSelecionados", "");
      localStorage.setItem("fSelecionados", "");
      localStorage.setItem("requisicao", "");

      // Esconde o círculo de carregamento
      App.hideLoading();
    },
    sele(a, b) {
      console.log(a.lastChild.firstChild);
      a.lastChild.firstChild.setAttribute("disabled", "false");
      console.log(b);
    }
  }
};
</script>

<style>
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #424964;
}
</style>