<template>
  <div id="app">
    <div class="container-scroller">
      <div id="loaderDivExterna">
        <div id="loader"></div>
      </div>
      <router-view/>
    </div>
  </div>
</template>

<script>
import jQuery from "jquery";
import Popper from "popper.js";
window.Bootstrap = require("bootstrap");

window.jQuery = jQuery;
window.$ = jQuery;
window.Popper = Popper;

require("@/assets/js/off-canvas.js");
require("@/assets/js/bootstrap-select.js");

import "@/assets/vendors/iconfonts/font-awesome/css/font-awesome.css";

import "@/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css";
// import "@/assets/vendors/css/vendor.bundle.base.css";
// import "@/assets/vendors/css/vendor.bundle.addons.css";

import "@/assets/css/style.css";
import "@/assets/css/estilo.css";

export default {
  name: "app",
  showLoading() {
    $('#loaderDivExterna').addClass('showLoader');
  },
  hideLoading() {
    $('#loaderDivExterna').removeClass('showLoader');
  }
};
</script>

